/* Define the keyframes for a smooth gradient transition */

@import url(https://fonts.googleapis.com/earlyaccess/amiri.css);
@keyframes colorChange {
    0% {
        background: linear-gradient(90deg, #020024 0%, #340979 37%, #00d4ff 94%);
        background-size: 200% 200%;
        background-position: 0% 50%;
    }
    20% {
        background: linear-gradient(90deg, #040020 4%, #340979 39%, #00cce8 90%);
        background-size: 200% 200%;
        background-position: 5% 50%;
    }
    40% {
        background: linear-gradient(90deg, #0a011b 8%, #340979 41%, #00bbd2 86%);
        background-size: 200% 200%;
        background-position: 10% 50%;
    }
    60% {
        background: linear-gradient(90deg, #0f0117 12%, #340979 45%, #00aadf 85%);
        background-size: 200% 200%;
        background-position: 20% 50%;
    }
    80% {
        background: linear-gradient(90deg, #110012 14%, #340979 50%, #00a5cc 80%);
        background-size: 200% 200%;
        background-position: 30% 50%;
    }
    100% {
        background: linear-gradient(90deg, #110012 15%, #340979 55%, #00aadf 85%);
        background-size: 200% 200%;
        background-position: 40% 50%;
    }
}

#userMessage {
    font-family: "Amiri", serif;
}


/* Apply the animation on hover */

.block-cube:hover .bg,
.block-cube:hover .bg-top,
.block-cube:hover .bg-right {
    animation: colorChange 3s ease-in-out forwards;
    /* 3s duration for a smooth transition */
    transition: background 3s ease-in-out;
    /* Ensure smooth transition between keyframes */
}

.block-cube:hover .title {
    color: #ffff;
    /* Change text color on hover if needed */
}


/* Other existing styles */

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    background-color: #212121;
    color: #fff;
    font-family: monospace, serif;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.control {
    position: relative;
    /* width: 200px;
    height: 100px; */
    margin: 10px;
}

.title {
    position: relative;
    z-index: 2;
    font-size: 20px;
    text-align: center;
    line-height: 100px;
}

.block-cube {
    position: relative;
}

.block-cube .bg-top {
    position: absolute;
    height: 10px;
    background: #020024;
    background: linear-gradient(90deg, #020024 0%, #340979 37%, #00d4ff 94%);
    bottom: 100%;
    left: 5px;
    right: -5px;
    transform: skew(-45deg, 0);
    margin: 0;
}

.block-cube .bg-top .bg-inner {
    bottom: 0;
}

.block-cube .bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #020024;
    background: linear-gradient(90deg, #020024 0%, #340979 37%, #00d4ff 94%);
}

.block-cube .bg-right {
    position: absolute;
    background: #020024;
    background: #00d4ff;
    top: -5px;
    z-index: 0;
    bottom: 5px;
    width: 10px;
    left: 100%;
    transform: skew(0, -45deg);
}

.block-cube .bg-right .bg-inner {
    left: 0;
}

.block-cube .bg .bg-inner {
    transition: all 0.2s ease-in-out;
}

.block-cube .bg-inner {
    background: #212121;
    position: absolute;
    left: 2px;
    top: 2px;
    right: 2px;
    bottom: 2px;
}

.block-cube .text {
    position: relative;
    z-index: 2;
}

.block-cube.block-input input {
    position: relative;
    z-index: 2;
}

.block-cube.block-input input:focus~.bg-right .bg-inner,
.block-cube.block-input input:focus~.bg-top .bg-inner,
.block-cube.block-input input:focus~.bg-inner .bg-inner {
    top: 100%;
    background: rgba(255, 255, 255, 0.5);
}

.block-cube .bg .bg-inner,
.block-cube .bg-right .bg-inner,
.block-cube .bg-top .bg-inner,
.block-cube .bg-inner {
    transition: all 0.2s ease-in-out;
}

.block-cube.block-input .bg-top,
.block-cube.block-input .bg-right,
.block-cube.block-input .bg {
    transition: background 0.2s ease-in-out;
}

.block-cube.block-input .bg-right .bg-inner,
.block-cube.block-input .bg-top .bg-inner {
    transition: all 0.2s ease-in-out;
}

.block-cube.block-cube-hover:focus .bg .bg-inner,
.block-cube.block-cube-hover:hover .bg .bg-inner {
    top: 100%;
}


/* Box sizes */

.box1 {
    width: 320px;
    height: 400px;
}

.box2 {
    width: 320px;
    height: 200px;
}

.box3 {
    width: 320px;
    height: 300px;
}

.box4 {
    width: 320px;
    height: 80px;
}

.box5 {
    width: 320px;
    height: 90px;
}


/* Hover effect for boxes */


/* Center text within each box */

.box1,
.box2,
.box3,
.box4,
.box5 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    /* Ensure .profile is below .box1 */
}

.profile img {
    width: 200px;
    max-width: 100%;
    height: auto;
    margin-bottom: 5%;
}

.profile #userName {
    margin-top: 5%;
    color: white;
    font-size: 2em;
}


/* Add blur effect on hover to the container */

.control.block-cube.box1 .profile {
    transition: filter 0.3s ease;
    /* Smooth transition for the blur effect */
}

.control.block-cube.box1:hover .profile {
    filter: blur(20px);
    /* Adjust the blur radius as needed */
}

.level {
    z-index: 4;
    display: none;
    position: absolute;
    /* Use absolute positioning */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    /* Center the element */
    /* Initially hide the .level element */
    text-shadow: 0 0 5px rgb(0, 204, 232, 0.8), /* Small glow */
    0 0 10px rgb(0, 204, 232, 0.7), /* Medium glow */
    0 0 15px rgb(0, 204, 232, 0.6), /* Larger glow */
    0 0 20px rgb(0, 204, 232, 0.5), /* Even larger glow */
    0 0 25px rgb(0, 204, 232, 0.4), /* Larger glow */
    0 0 30px rgb(0, 204, 232, 0.3);
    /* Largest glow */
}

.control.block-cube.box1:hover .level {
    display: block;
    /* Show the .level element on hover */
}

.pieChartDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* Relative positioning to contain absolute positioning of the tooltip */
    z-index: 5;
}

#pieChart {
    z-index: 10;
    /* Ensure the pie chart is above other elements */
}

#tooltip {
    display: none;
    /* Hidden by default */
    position: absolute;
    /* Positioned absolutely to stay within the container */
    bottom: 0;
    /* Align tooltip at the bottom of the pieChartDiv */
    left: 50%;
    /* Center the tooltip horizontally */
    transform: translateX(-50%);
    /* Center the tooltip with respect to its own width */
    font-size: 12px;
    color: aliceblue;
    /* background-color: rgba(0, 0, 0, 0.7); */
    /* Keep it minimal, for better readability */
    padding: 2px 5px;
    /* Reduced padding to keep it close to the text */
    border-radius: 4px;
    /* Rounded corners */
    z-index: 15;
    /* Ensure tooltip is above other elements */
    white-space: nowrap;
    /* Prevent the tooltip text from breaking into multiple lines */
    height: auto;
    /* Ensure the height of the tooltip is determined by its content */
    box-shadow: none;
    /* Remove any shadow if not needed */
}

.ratio {
    align-items: center;
    justify-content: flex-start;
    z-index: 10;
    margin: 0;
}